.navbar {
  position: fixed;
  top: 0;
  width: 97%;
  background: var(--navbar-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  box-shadow: 0 2px 5px var(--shadow-color);
  z-index: 1000;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}

.nav-links a:hover {
  color: var(--primary-color);
}
